.loader{
    margin-top: 15%;
    font-size: xx-large;
}

.tableHead{
  background-color: rgb(215, 245, 169);
  text-shadow: 1px 1px white;
}

.pharmaLogo {
    pointer-events: none;
  }
  
@media (prefers-reduced-motion: no-preference) {
    .pharmaLogo {
      animation: pharmaLogo infinite 2s linear;
    }
}

@keyframes pharmaLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }